# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# PyInstaller
executable/
build/
dist/
*.spec

# Installer output
installer-output/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini

# Logs
*.log

#Testing
test/
